.fooLink {
  min-width: 150px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #fd11ae9f;
  padding: 8px 4px;
  margin-bottom: 8px;
}
.fooLink:hover {
  background-color: #ffffff;
  color: #fd11ae;
  font-weight: 700;
}

.fooBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  background-color: #fd11af73;
  border-top: 2px solid #ffffff;
}
