.header {
  width: 100%;
  min-height: auto;
  background-color: #fd11af73;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}

.navTitle {
  color: #fff;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.subtitle {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
