.secBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/1-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.calBox {
  border-radius: 4px;
}

/*------------------------------------------------*/
@media (max-width: 599px) {
  .header {
    margin-bottom: 15px;
  }
  .pacageBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
  }

  .feedback,
  .clockBox {
    padding-bottom: 15px;
  }
  .calBox {
    width: 500px;
  }
}

@media (min-width: 600px) and (max-width: 1279px) {
  .pacageBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
  }
  .feedback,
  .clockBox {
    padding-bottom: 15px;
  }
  .feedback,
  .calBox {
    width: 500px;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .pacageBox {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-right: 50px;
  }
  .feedback,
  .calBox {
    width: 500px;
  }
}
