.secBox {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/1-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 300px;
}

.pacageBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.calBox {
  width: 500px;
  border-radius: 4px;
  border: 2px solid #ffffff;
}
