.contactBox {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.text {
  width: 300px;
  height: 30px;
  background-color: #fd11af73;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: white;
  padding: 6px;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.itemBtn {
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  border: 1px solid rgb(255, 255, 255);
  background-color: #ff5858;
  text-transform: lowercase;
}
.itemBtn:hover {
  background-color: #fdfdfd;
  color: #ff5858;
  font-weight: 700;
}

.btnBox {
  display: flex;
}
