.filterForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.filterInput {
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  padding-left: 10px;
  font-weight: 700;
  height: 30px;
  background-color: #fd11af73;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.filterLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

@media (max-width: 599px) {
  .filterInput {
    width: 60%;
  }
}
@media (min-width: 600px) and (max-width: 1279px) {
  .filterInput {
    width: 50%;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .filterInput {
    width: 40%;
  }
}
