html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:focus {
  outline: none;
}
body {
  margin: 0;
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: block;
  border: none;
  /* max-width: 100%; */
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 0;
  padding: 0;
}
span,
p {
  margin: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
  letter-spacing: inherit;
}
.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}
::-webkit-input-placeholder {
  color: white;
  font-weight: 400;
}
:-moz-placeholder {
  color: white;
  font-weight: 400;
}
::-moz-placeholder {
  color: white;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: white;
  font-weight: 400;
}
